
body{
    font-family: 'Roboto', Helvetica, Arial, sans-serif ;

}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    font-family: 'Roboto', Helvetica, Arial, sans-serif ;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    
    
}

a:visited{
    text-decoration: none;
    color: black;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}


#exit:hover{
    color: #ea111c;
}


.head_description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20%;
    margin-top: 100px;
    text-align: center;
    min-height: 140px;
}




.head_description > span{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    align-items: center;


}

.div_for_span{
    margin: 0 15%;
}

.head_description > h1{
    
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 75px;
    letter-spacing: 0.2em;
    text-align: left;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    max-width: 553px;
}


.psevdTop, .psevdBot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 550px;
    
    
}

.psevdTop::before{
    content: '';
    display: block;
    width: 200px;
    height: 6px;
    background-color: #B111EA;
    left: 0;
}

/* .psevdTop::after{
    content: '';
    display: block;
    height: 18px;
    width: 18px;
    background-image: url(../img/LessonPage/check.svg);
    
} */


.status{
    display: block;
    color: #D4D4D4;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    font-family: "Roboto";
}

.append{
    cursor: pointer;
    
    border: none;
    background: #b111ea;
    color:white;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    font-family: "Roboto";
    border-radius: 7px;
}

/* .psevdBot::before{
    content: 'Вы уже записаны на этот курс';
    display: block;
    color: #D4D4D4;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    font-family: "Roboto";

} */

.psevdBot::after{
    content: '';
    display: block;
    width: 200px;
    height: 6px;
    background-color: #B111EA;
    right: 0;
}

.AboutCourse{
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;
    align-items: flex-start;
}

.LeftSide{
    text-align: right;
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.CourseTitle{
    margin-bottom: 32px;
    font-size: 36px;
}

.CourseDescription{
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.CourseP{
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
}

.H3teacher{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: right;

}

.Where{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
}


.CourseTeachers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}


.teacherTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.social>a{
    margin-right: 10px;
    font-family: RobotoLight;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.social>a:hover{
    color:#B111EA;
}



.WhereElem:nth-child(even){
    color: #B111EA;
    
}

.WhereElem{
    
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: justified;

}

.teacher{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 100%;
    min-height: 100px;
}

.eMail{
    color:#B111EA;
    
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: justified;

}

.crossing{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}



.RightSide{
    text-align: left;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.themeTitle > h2 {
    text-align: left;
    
}

.arrow {
    max-width: none;
    margin-top: 15px;
    width: 21px;
    height: 10px;
    stroke:#B111EA;
}

.arrow:hover path{
    stroke:#B111EA;
    cursor: pointer;
}



.SideBar{   
    margin: 0 42px;
    
}

.themeTitle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.Theme{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.Theme>h2{
    font-size: 32px;
    text-align: left;
}

.Date{
    font-family: Roboto;
    color:#D4D4D4;
    font-size: 18px;
    line-height: 27px;
    font-style: normal;
    font-weight: normal;
    font-weight: bold;
    
}



.ThemeContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.themePar{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
}

.TextOnLeft{
    writing-mode: vertical-rl;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.25em;
    text-transform: lowercase;
    color: #B111EA;
    margin-left: 5px;
    margin-top: 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.active{
    transform: rotate(0.5turn);
    transition: max-height 0.2s ease-out;
    
    
}

.HiddenInfo{
    max-height: 0;
    overflow: hidden;
    
    transition: max-height 0.2s ease-out;
}

@media screen and (min-width:100px) and (max-width:1024px) {
    .AboutCourse{
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .LeftSide{
        min-width: 300px;
        
        width: 90%;
        margin-left: 10%;
        margin-right: 0;
        margin: auto;
        text-align: center;
    }

    .RightSide{
        min-width: 300px;
        
        width: 90%;
        margin-left: 10%;
        margin-right: 0;
        margin: auto;
        text-align: center;
        align-items: center;
    }

    .CourseP{
        text-align: left;
        
        
    }

    .RightSide{
        margin-top: 50px;
        margin-right: 10%;
    }

    .CourseTeachers{
        align-items: center;
    }

    .Theme{
        text-align: left;
    }

    .CourseDescription{
        align-items: center;
    }

    .crossing{
        align-items: center;
    }

    .SideBar{
        margin-left: 0;
    }

    .themePar{
        width: 350px;
    }

    .SideBar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .head_description{
        margin-top: 50px;
        
    }
    .header{
        margin-bottom: 50px;
    }
  }


  @media screen and  (max-width:850px){
      .nav_links{
          flex-direction: column;
          align-items: center;
      }
      .topnav{
          font-size: 15px;
          margin-right: 0;
          margin-bottom: 5px;
      }
  }


  @media screen and  (max-width:600px){
      .Theme>h2{
          font-size: 24px;
      }

      .head_description{
          margin-top: 50px;
      }

      .head_description>h1{
          font-size: 38px;
          margin: 0;
      }

      .psevdTop,
      .psevdBot{
          min-width: 200px;
      }

      .psevdBot::before{
          font-size: 7px;
      }

      

      .psevdBot:after,
      .psevdTop::before{
          width: 150px;
          height: 4px;
      }

      .head_description{
          min-height: 80px;
      }



      .CourseP, .WhereElem, .teacherTitle, 
      .themePar{
          font-size: 15px;
      }
      .CourseTitle{
          font-size: 30px;
      }

      .header{
          margin-bottom: 50px;
      }

      

      .RightSide{
          justify-content: center;
          align-items: center;
          width: none;
      }

      .themePar{
          width: 80%;
      }

      .SideBar{
          margin: 0 24px;
      }
  }