
body{
    font-family: 'Roboto', Helvetica, Arial, sans-serif ;

}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    font-family: 'Roboto', Helvetica, Arial, sans-serif ;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;


}

a:visited{
    text-decoration: none;
    color: black;
}

/*хедер*/

header {
    width: 100vw;
    margin: 0;
    padding: 0;
    background: url(../../img/courses/lessons/Body.png) top center no-repeat;
    background-size: 100% 100%;
}

ul {
    list-style-type: none;
}

.container {
    width: 90vw;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}

.header:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(238, 238, 238);
    opacity: 100%;
    z-index: 2;
}

.header_body {
    position: relative;
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
}

.header_burger {
    display: none;
}

.header_menu {
    transition: all 0.2s ease-out;
}

.header_list {
    display: flex;
}

.header_list li {
    list-style: none;
    margin: 0px 20px;
    z-index: 3;
}

.header_link {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 23px;
    position: relative;
}

.header_main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

a.active_link,
a:hover {
    color: #B111EA;
}

a:active {
    color: #C849F5;
}


.head_description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    min-height: 140px;

}




.head_description > span{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    align-items: center;


}

.div_for_span{
    margin: 0 15%;
}

.head_description > h1{
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    /*max-width: 553px;*/
}


.psevdTop, .psevdBot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 550px;
    padding-left: 10px;
}

.psevdTop::before{
    content: '';
    display: block;
    width: 200px;
    height: 6px;
    background-color: #fff;
    left: 0;
}



.status{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: right;
}
.btn_to_write{
    text-decoration-line: underline;
    cursor: pointer;
}
.aud_link{
    color:#B111EA !important;
}
.psevdBot::after{
    content: '';
    display: block;
    width: 200px;
    height: 6px;
    background-color: #fff;
    right: 0;
}

.AboutCourse{
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;
    align-items: flex-start;
}

.LeftSide{
    text-align: right;
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.CourseTitle{
    margin-bottom: 32px;
    font-size: 36px;
}

.CourseDescription{
    width: 100%;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.CourseP{
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
}

.H3teacher{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: right;

}

.Where{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
}


.CourseTeachers{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}


.teacherTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.social>a{
    margin-right: 10px;
    font-family: RobotoLight;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.social>a:hover{
    color:#B111EA;
}



.WhereElem:nth-child(even){
    color: #B111EA;

}

.WhereElem{

    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
}

.teacher{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 100%;
    min-height: 100px;
}

.eMail{
    color:#B111EA;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
}

.crossing{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}



.RightSide{
    text-align: left;
    width: 55%;
    display: flex;
    flex-direction: column;
}

.themeTitle > h2 {
    text-align: left;

}

.arrow {
    max-width: none;
    margin-top: 15px;
    width: 21px;
    height: 10px;
    stroke:#B111EA;
}

.arrow:hover path{
    stroke:#B111EA;
    cursor: pointer;
}



.SideBar{
    margin: 0 42px;

}

.themeTitle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.Theme{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.Theme>h2{
    font-size: 32px;
    text-align: left;
}

.Date{
    font-family: Roboto;
    color:#D4D4D4;
    font-size: 18px;
    line-height: 27px;
    font-style: normal;
    font-weight: normal;
    font-weight: bold;

}



.ThemeContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.themePar{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
}

.TextOnLeft{
    writing-mode: vertical-rl;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.25em;
    text-transform: lowercase;
    color: #B111EA;
    margin-left: 5px;
    margin-top: 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.active_arr{
    transform: rotate(0.5turn);
    transition: max-height 0.2s ease-out;


}

.HiddenInfo{
    max-height: 0;
    overflow: hidden;

    transition: max-height 0.2s ease-out;
}

.status {
    margin-top: 20px;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 20px;
}

@media screen and (min-width:100px) and (max-width:1024px) {

    .CourseP, .WhereElem, .teacherTitle,
      .themePar, .status{
        font-size: calc(15px + (16 + 16 * 0.7) * ((100vw - 320px) / 910));
      }
    .head_description>h1{
          font-size: calc(25px + (16 + 16*0.7)*((100vw - 320px)/910));
          margin: 20px 0 0 0;
      }
    .AboutCourse{
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .LeftSide{
        min-width: 300px;

        width: 90%;
        margin-left: 10%;
        margin-right: 0;
        margin: auto;
        text-align: center;
    }

    .RightSide{
        min-width: 300px;

        width: 90%;
        margin-left: 10%;
        margin-right: 0;
        margin: auto;
        text-align: center;
        align-items: center;
    }

    .CourseP{
        text-align: left;


    }

    .RightSide{
        margin-top: 50px;
        margin-right: 10%;
    }

    .CourseTeachers{
        align-items: center;
    }

    .Theme{
        text-align: left;
    }

    .CourseDescription{
        align-items: center;
    }

    .crossing{
        align-items: center;
    }

    .SideBar{
        margin-left: 0;
    }

    .themePar{
        width: 350px;
    }

    .SideBar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .head_description{
        margin-top: 50px;

    }
    .header{
        margin-bottom: 50px;
    }
  }


  @media screen and  (max-width:850px){
      .nav_links{
          flex-direction: column;
          align-items: center;
      }
      .topnav{
          font-size: 15px;
          margin-right: 0;
          margin-bottom: 5px;
      }
  }


  @media screen and  (max-width:600px){
      .Theme>h2{
          font-size: 24px;
      }

      .head_description{
          margin-top: 50px;
      }

      

      .psevdTop,
      .psevdBot{
          min-width: 200px;
          text-align: left;
      }

      .psevdBot::before{
          font-size: 7px;
      }



      .psevdBot:after,
      .psevdTop::before{
          width: 150px;
          height: 4px;
      }

      .head_description{
          min-height: 80px;
      }



      
      .CourseTitle{
          font-size: 30px;
      }

      .header{
          margin-bottom: 50px;
      }



      .RightSide{
          justify-content: center;
          align-items: center;
      }

      .themePar{
          width: 80%;
      }

      .SideBar{
          margin: 0 24px;
      }
  }


/*Хедер медиа*/

@media screen and (max-width: 910px) {
    .header-text .title {
        font-size: calc(35px + (16 + 16 * 0.7) * ((100vw - 320px) / 910));
    }

    .subj {
        width: 90vw;
        flex-direction: column;
        margin: 10px auto;
        padding: 20px 18px;
        border-radius: 7px;
        text-decoration: none;
    }

    .tabs {
        width: 100vw;
    }

    .main-wrap {
        width: 100vw;
    }

    .header-text {
        margin: 16px auto 0;
        padding-bottom: 30px;

    }

    header {
        background: url(../../img/courses/lessons/Body.png) bottom center no-repeat;
        background-size: 120% 100%;
    }

    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        position: relative;
    }

    .header_body {
        height: 50px;
        justify-content: flex-start;
    }

    .header_burger:before,
    .header_burger:after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.2s ease-out;
    }

    .header_burger:before {
        top: 0;
    }

    .header_burger:after {
        bottom: 0;
    }

    .container {
        width: 100vw;
    }

    .header_burger span {
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        top: 9px;
        transition: all 0.2s ease-out;
    }

    .header_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color: #fff;
        padding: 50px 0px 0px 0px;
        ;
    }

    .header_menu.active {
        top: 0;
        padding-left: 15px;
    }

    .header_list {
        display: block;
    }

    .header_list li {
        list-style: none;
        margin: 10px 0px;
        padding: 30px 0;
        z-index: 1;
    }

    .header_burger.active:before {
        transform: rotate(45deg);
        top: 8.5px;
    }

    .header_burger.active:after {
        transform: rotate(-45deg);
        bottom: 8.5px;
    }

    .header_burger.active span {
        transform: scale(0)
    }

}
