@import "../../fonts/fonts.css";
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    font-family: 'Roboto', Helvetica, Arial, sans-serif ;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    
    
}

a:visited{
    text-decoration: none;
    color: black;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.nav_links{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.topnav:hover{
    color: #B111EA;
}

.topnav{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    margin-right: 50px;
}

.head_description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20%;
    margin-top: 100px;
    text-align: center;
    min-height: 140px;
}



.head_description > span{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    align-items: center;


}

.div_for_span{
    margin: 0 15%;
}

.head_description > h1{
    
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 75px;
    letter-spacing: 0.2em;
    text-align: left;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    max-width: 553px;
}


.psevdTop, .psevdBot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 550px;
    
    
}

.psevdTop::before{
    content: '';
    display: block;
    width: 200px;
    height: 6px;
    background-color: #B111EA;
    left: 0;
}

.psevdTop::after{
    content: '';
    display: block;
    height: 18px;
    width: 18px;
    background-image: url(../../img/courses/LessonPage/check.svg);
    
}




.psevdBot::before{
    content: 'Вы уже записаны на этот курс';
    display: block;
    color: #D4D4D4;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    font-family: "Roboto";

}

.psevdBot::after{
    content: '';
    display: block;
    width: 200px;
    height: 6px;
    background-color: #B111EA;
    right: 0;
}

.AboutCourse{
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;
    align-items: flex-start;
}

.LeftSide{
    text-align: right;
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.CourseTitle{
    margin-bottom: 32px;
}

.CourseDescription{
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.CourseP{
    font-family: RobotoLight;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
}


.Where{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
}


.CourseTeachers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}


.teacherTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.social>a{
    margin-right: 10px;
    font-family: RobotoLight;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.social>a:hover{
    color:#B111EA;
}



.WhereElem:nth-child(even){
    color: #B111EA;
    
}

.teacher{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 100%;
    min-height: 100px;
}

.eMail{
    color:#B111EA;
}

.crossing{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}



.RightSide{
    text-align: left;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.themeTitle > h2 {
    text-align: left;
}

.arrow {
    max-width: none;
    margin-top: 15px;
    width: 21px;
    height: 10px;
}

.SideBar{
    margin: 0 42px;
    
}

.themeTitle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.Theme{
    min-width: 495px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.Date{
    font-family: RobotoLight;
    color:#D4D4D4;
    font-size: 18px;
    line-height: 27px;
    font-style: normal;
    font-weight: normal;
    font-weight: bold;
    
}



.ThemeContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.themePar{
    font-family: RobotoLight;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
}

.TextOnLeft{
    writing-mode: vertical-rl;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.25em;
    text-transform: lowercase;
    color: #B111EA;
    margin-left: 5px;
    margin-top: 80px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.active{
    transform: rotate(0.5turn);
    transition: max-height 0.2s ease-out;
    
}

.HiddenInfo{
    max-height: 0;
    overflow: hidden;
    
    transition: max-height 0.2s ease-out;
}

@media screen and (min-width:100px) and (max-width:1024px) {
    .AboutCourse{
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .LeftSide .RightSide{
        min-width: 495px;
        
        width: 90%;
        margin-left: 10%;
        margin-right: 0;
        margin: auto;
        text-align: center;
    }

    .CourseP{
        text-align: center;
    }

    .RightSide{
        margin-top: 50px;
    }

    .CourseTeachers{
        align-items: center;
    }

    .Theme{
        text-align: center;
    }

    .CourseDescription{
        align-items: center;
    }

    .crossing{
        align-items: center;
    }

    .SideBar{
        margin-left: 0;
    }
  }