@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}




header {
    height: 628px;
    background: url(../../img/courses/lessons/Body.png) bottom center no-repeat;
}

ul {
    list-style-type: none;
}

.header-text {
    display: flex;
    justify-content: center;
    text-align: center;
}

.title {
    margin: 165px 0px 20px;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.25em;
}

.descryption {
    width: 650px;
    font-size: 18px;
    line-height: 27px;
    margin: auto;
}

.tabs {
    height: 55px;
    margin-top: 0;
    font-size: 16px;
    padding: 0;
    justify-content: center;
}

.tab {
    width: 600px;
    text-align: center;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab-wrap {
    justify-content: center;
    align-items: center;
}

.left-tab {
    background: #B111EA;
    border-radius: 0px 0px 0px 7px;
    color: #FFF;
}

.right-tab {
    border: 3px solid #D4D4D4;
    border-left: none;
    box-sizing: border-box;
    border-radius: 0px 0px 7px 0px;
}

.main {
    margin-bottom: 135px;
}

.main-wrap {
    width: 80vw;
    margin: 0 auto;
}



.subj-title {
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    transition: all 0.2s;
}

.subj-descryption {
    font-size: 16px;
    line-height: 150%;
    color: #D4D4D4;
    transition: all 0.2s;
}

.subj {
    transition: all 0.2s;
}

.subj:hover .subj-title {
    color: #B111EA;
}

.subj:hover {
    border: 3px solid #B111EA;
    border-radius: 7px;
}

.subj:hover .subj-descryption {
    color: #000000;
}
.course_link{
    text-decoration: none;
}

.active-tab img {
    filter: invert(100%);
}
.active-link {
    color: #B111EA;
}
.subjects {
    display: flex;
    flex-direction: row;
    width: 77vw;
    flex-wrap: wrap;
    margin: 60px auto;
    
}
.subj {
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid #D4D4D4;
    margin-bottom: 30px;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    padding: 50px 90px;
    border-radius: 7px;
}
.subj-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 355px;
}
.subj-icon {
    margin-right: 35px;
    width:64px;
}
