@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.container {
    width: 90vw;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}

.header:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(238, 238, 238);
    opacity: 100%;
    z-index: 2;
}

.header_body {
    position: relative;
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
}

.header_burger {
    display: none;
}

.header_menu {
    transition: all 0.2s ease-out;
}

.header_list {
    display: flex;
}

.header_list li {
    list-style: none;
    margin: 0px 20px;
    z-index: 3;
}

.header_link {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 23px;
    position: relative;
}

.header_main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

a.active_link,
a:hover {
    color: #B111EA;
}

a:active {
    color: #C849F5;
}