<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Авторизация</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/styles.css') }}">
    </head>
    <body>
        <div class="main-frame flexrow">
            <div class="image-holder">
                <img class="image" src="{{ url_for('static', filename='img/auth/auth-background.png') }}" alt="">
            </div>
            <div class="flexcolumn form">
                <div class="flexrow form-header">
                    <h1 class="purple-text sign-in-header">Авторизация</h1>
                    <a class="home-link" href="">На главную</a>
                </div>
                <form class="auth-group" action="{{ url_for('auth.oidc') }}">
                    <div class="form-group">
                        <input id="email-input" type="email" class="auth-input" placeholder="Почта @sfedu">
                    </div>
                    <div class="form-group">
                        <select id="projects-select" class="auth-select" size=1>
                            <option value="project-1">Project-1</option>
                            <option value="project-2">Project-2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="auth-submit">Авторизоваться</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>