*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-frame {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 0 0 47px rgba(217, 217, 217, 0.5);
}

.background-img {
    width: 522px;
    height: 456px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form-container {
    width: 522px;
    height: 456px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 15px;
}

.sign-in-header {
    color: #B111EA;
    font-size: 30px;
}

.home-link {
    color: #000;
    text-decoration: underline;
    padding: 0;
    font-size: 18px;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-item {
    width: 400px;
    height: 50px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    height: 100%;
    border-color: #d4d4d4;
    border-width: 3px;
    border-radius: 7px;
    border-style: solid;
    padding-left: 35px;
}

.form-input:focus {
    border-color: #B111EA;
    outline: none;
}

#email-input {
  background: url('../../img/projects/email-icon.svg') no-repeat 7px;
}

#password-input {
  background: url('../../img/projects/password-icon.svg') no-repeat 7px;
}

#project-select {
  background: url('../../img/projects/project-select-icon.svg') no-repeat 7px;
}

.form-select {
  width: 100%;
  height: 100%;
  border-color: #d4d4d4;
  border-width: 3px;
  border-radius: 7px;
  border-style: solid;
  padding-left: 35px;
}

.form-button {
    width: 100%;
    height: 100%;
    border-color: #B111EA;
    background-color: #B111EA;
    color: #fff;
    border-width: 3px;
    border-radius: 7px;
    border-style: solid;
    outline: none;
}

.form-button:hover {
  color: #B111EA;
  background-color: #fff;
}

.form-button:active {
  letter-spacing: 1px;
}


@media (max-width: 1024px) {

  .main-frame {
    background-color: #fff;
  }

  .img-holder {
    display: none;
  }

  .form-container {
    width: 90vw;
    height: fit-content;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .header {
    justify-content: space-evenly;
  }

  .form-item {
    width: 60vw;
  }

  .sign-in-header {
    font-size: 16px;
  }

  .home-link {
    font-size: 14px;
  }

  .form-item {
    font-size: 14px;
    height: 40px;
  }

  body::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(
      115deg,
      rgba(105, 105, 105, 0.4),
      rgba(70, 70, 70, 0.3));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

}