<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects/project.css') }}">
    <title>Запись на проект</title>
</head>
<body>
    <div class="main-frame">
        <div class="img-holder">
            <img src="{{ url_for('static', filename='img/projects/proictis-bg.png') }}" alt="ICTIS Project Office Logo"
                 class="background-img">
        </div>
        <div class="form-container">
            <div class="header">
                <h1 class="sign-in-header">Запись на проект</h1>
                <a href="{{ url_for('main.index') }}" class="home-link">На главную</a>
            </div>
            {% if already_joined_project %}
                <div class="form-item">
                    <div class="form-message">
                        Вы уже записаны на проект "<a href="/projects/table">{{ already_joined_project.name }}</a>"!
                    </div>
                </div>
            {% else %}
                <form class="sign-in-form">
                    <div class="form-item">
                        <input type="text" placeholder="ФИО" class="form-input" disabled value="{{ user.fullname }}">
                    </div>
                    <div class="form-item">
                        <input type="email" placeholder="Электронная почта" class="form-input" disabled value={{ user.email }}>
                    </div>
                {% if projects %}
                    <div class="form-item">
                        <select id="project-select" class="form-select" size="1">
                                <option value="" selected>Выберите проект...</option>
                        </select>
                    </div>
                    <div class="form-item no-height">
                        <select id="team-select" name="team_number" class="form-select" hidden>
                        </select>
                    </div>
                    <div class="form-item">
                        <button type="submit" class="form-button" disabled>Записаться</button>
                    </div>
                {% else %}
                    <div class="sign-in-footer">
                        <h1 class="sign-in-header">Доступных для записи проектов нет!</h1>
                    </div>
                {% endif %}
                </form>
            {% endif %}

        </div>
    </div>
    <script>
        async function postData(url, data) {
            const response = await fetch(url, {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            return await response.json();
        }

        let projectsSelect = document.querySelector('#project-select');
        let teamSelect = document.querySelector('#team-select');
        let submitButton = document.querySelector('.form-button');


        document.addEventListener('DOMContentLoaded', async function() {
            const projects = await fetch('/projects/api/available')
                .then(resp => resp.json());

            projectsSelect.innerHTML = projects.data.map(proj => `
                <option value="${proj._id['$oid']}">${proj.name}</option>
            `).join('');
        });

        projectsSelect.addEventListener('change', async function (event) {
            const selectedId = this.value;
            const project = await fetch(`/projects/api/${selectedId}`)
                .then(resp => resp.json());

            let html = '';

            let teams = project.data.teams;

            teams.forEach((team, i) => {
               html += `<option value="${i}" ${team.is_full ? 'disabled' : ''}>Команда ${i+1} (${team.empty_slots} мест)</option>`;
            });

            for (let teamNum = teams.length; teamNum < 3; teamNum++) {
                html += `<option value="${teamNum}">Команда ${teamNum+1} (8 мест)</option>`;
            }

            teamSelect.innerHTML = html;
            teamSelect.hidden = false;
            teamSelect.parentNode.classList.remove('no-height');
            submitButton.disabled = false;
        });

        submitButton.addEventListener('click', async function (event) {
            event.preventDefault();
            this.disabled = true;

            let projectId = projectsSelect.value;
            let teamNumber = teamSelect.value;

            let response = await postData(`/projects/api/${projectId}/join`, {team_number: teamNumber});

            let msgBlock = document.createElement('div');
            this.closest('form').append(msgBlock);

            msgBlock.classList.add('form-item');
            msgBlock.classList.add('form-message');
            msgBlock.style.textAlign = 'center';

            msgBlock.textContent = response.message;

            if (response.status === 'success') {
                msgBlock.style.color = '#B111EA';
                msgBlock.style.fontWeight = 'bold';
                msgBlock.innerHTML += '<br><a href="/projects/table">Сводная таблица проектных команд</a>';
            } else {
                msgBlock.style.color = 'red';
            }

            submitButton.style.border = 'none';
            submitButton.style.padding = '0';
            submitButton.parentNode.classList.add('no-height');
            submitButton.disabled = true;
        });
    </script>
</body>
</html>