<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects/project.css') }}">
    <title>Запись на проект</title>
</head>
<body>
    <div class="main-frame">
        <div class="img-holder">
            <img src="{{ url_for('static', filename='img/projects/proictis-bg.png') }}" alt="ICTIS Project Office Logo"
                 class="background-img">
        </div>
        <div class="form-container">
            <div class="header">
                <h1 class="sign-in-header">Запись на проект</h1>
                <a href="{{ url_for('main.index') }}" class="home-link">На главную</a>
            </div>
            <form action="" class="sign-in-form">
                <div class="form-item">
                    <input type="text" placeholder="ФИО" class="form-input" disabled value={{ user.fullname }}>
                </div>
                <div class="form-item">
                    <input type="text" placeholder="Учебная группа" class="form-input" disabled value={{ user.group }}>
                </div>
                <div class="form-item">
                    <input type="email" placeholder="Электронная почта" class="form-input" disabled value={{ user.email }}>
                </div>
                {% if projects %}
                    <div class="form-item">
                        <select id="project-select" class="form-select" size="1">
                            {% for project in projects %}
                                <option value="{{ project.id }}">{{ project.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-item">
                        <button type="submit" class="form-button">Записаться</button>
                    </div>
                {% else %}
                    <div class="sign-in-footer">
                        <h1 class="sign-in-header">Доступных для записи проектов нет!</h1>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
    <script>
        async function postData(url, data) {
            const response = await fetch(url, {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            return await response.json();
        }


        document.addEventListener('DOMContentLoaded', function() {
            let projectsSelect = document.querySelector('#project-select');

        });
    </script>
</body>
</html>