{% extends 'courses/base.html' %}
{% set active_page = "active_courses" %}
{% block title %}
Курсы
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/courses/lessons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/courses/footer.css') }}">
{% endblock %}
{% block content %}
       <div class="header-text row">
            <div class="column">
                <h1 class="title">СПИСОК ПРЕДМЕТОВ</h1>
                <div class="descryption">
                    Здравствуй, <span class = "active-link">{{ current_user.fullname }}</span>! На этой странице ты
                    можешь просмотреть информацию по интересующим тебя
                    предметам. Она должна помочь в подготовке к экзамену, контрольной или просто штудировании!
                </div>
            </div>
        </div>
    </header>
    <div class="main row">
        <div class="main-wrap column">
            <ul class="tabs row">
                <li class="tab left-tab active-tab">
                    <a href="{{ url_for('courses.user_courses') }}">
                        <div class="row tab-wrap">
                            <img src="{{ url_for('static', filename='img/courses/lessons/icons/check-list.svg') }}" alt=""> <span class="tab-title">Выбранные
                                предметы</span>
                        </div>
                    </a>
                </li>
                <li class="tab right-tab">
                    <a href="{{ url_for('courses.index') }}">
                        <div class="row tab-wrap">
                            <img src="{{ url_for('static', filename='img/courses/lessons/icons/list.svg') }}" alt=""> <span class="tab-title">Выбор предметов</span>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="subjects">
                {% block courses %}
                    {% for course in courses %}
                        <a href="{{ url_for('courses.index', id=course.id) }}" class="subj">
                            <img src="{{ icons[course.course_type] }}" alt="" class="subj-icon">
                            <div class="subj-text column">
                                <div class="subj-title">{{ course.name }}</div>
                                <div class="subj-descryption">
                                    {{ course.description }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/courses/lessons.js') }}"></script>
{% endblock %}