<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/courses/menu.css') }}">
    {% endblock %}
</head>
{% endblock %}
<body>
    {% block nav %}
        <header>
            <div class="header">
                <div class="container">
                    <div class="header_body">
                        <div class="header_burger">
                            <span></span>
                        </div>
                        <nav class="header_menu">
                            <ul class="header_list">
                                <li><a href="{{ url_for('main.index') }}" class="header_link {{ 'active_link' if
                                active_page=='index' else ''}}
                                }}">Главная</a></li>
                                <li><a href="{{ url_for('courses.user_courses') }}" class="header_link {{ 'active_link' if
                                active_page=='courses' or active_page=='active_courses' else ''}}">Список
                                    предметов</a></li>
                                <li><a href="{{ url_for('projects.index') }}" class="header_link {{ 'active_link' if
                                active_page=='projects' else ''}}">Запись на
                                    проект</a></li>
{#                                {% if current_user.role == "Администратор" %}#}
{#                                    <li><a href="{{ url_for('course.index_view') }}" class="header_link">Админ панель</a></li>#}
{#                                {% endif %}#}
                                {% if current_user.is_authenticated %}
                                    <li><a href="{{ url_for('auth.logout') }}" class="header_link">Выйти</a></li>
                                {% else %}
                                    <li><a href="{{ url_for('auth.oidc') }}" class="header_link">Войти</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
    {% endblock %}
	{% block content %}
    {% endblock %}
    {% block footer %}
        <footer class="foot">
            <div class="footer_container">
                <h1 class="footer_title">Карта сайта</h1>
                <div class="footer_items">
                    <a href="{{ url_for('main.index') }}" class="footer_nav">главная</a>
                    <a href="{{ url_for('courses.user_courses') }}" class="footer_nav">список предметов</a>
                    <a href="{{ url_for('projects.index') }}" class="footer_nav">запись на проект </a>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.logout') }}" class="footer_nav">выход</a>
                    {% endif %}
                </div>
            </div>

            <div class="footer_container">
                <h1 class="footer_title">Контакты</h1>
                <div class="footer_items">
                    <a href="https://vk.com/proictis" class="footer_nav">vk</a>

                </div>
            </div>
        </footer>
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</body>

</html>
