<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/courses/menu.css') }}">
    {% endblock %}
</head>
{% endblock %}
<body>
    {% block nav %}
        <header>
            <nav>
                <ul class="navbar">
                    <div class="row navbar-wrap">
                        <li><a class="navbar-item" href="#">Главная</a></li>
                        <li><a class="navbar-item active-link" href="{{ url_for('courses.user_courses') }}">Список предметов</a></li>
                        <li><a class="navbar-item" href="#">Запись на проекты</a></li>
                        <li>
                            <a class="navbar-item username" href="#">
                                {{ current_user.fullname }}
                            </a>
                        </li>
                        <li><a class="navbar-item" href="{{ url_for('auth.logout') }}">Выход</a></li>
                    </div>
                </ul>
            </nav>
    {% endblock %}
	{% block content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</body>

</html>
