{% extends 'courses/base.html' %}
{% block title %}
Курсы
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/courses/lessons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/courses/menu.css') }}">
{% endblock %}
{% block content %}
        <div class="header-text row">
            <div class="column">
                <h1 class="title">СПИСОК ПРЕДМЕТОВ</h1>
                <div class="descryption">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, voluptatum doloremque quaerat
                    adipisci
                    fugiat
                    nam
                    possimus corrupti, labore aspernatur ab, ut cupiditate. Laudantium sint eligendi rerum qui veritatis
                    ea
                    error!
                </div>
            </div>
        </div>
    </header>
    <div class="main row">
        <div class="main-wrap column">
            <ul class="tabs row">
                <a class="course_link" href="{{ url_for('courses.user_courses') }}">
                    <li class="tab left-tab active-tab">
                        <div class="row tab-wrap">
                            <img src="{{ url_for('static', filename='img/courses/lessons/icons/check-list.svg') }}" alt=""> Выбранные предметы
                        </div>
                    </li>
                </a>
                <a class="course_link" href="{{ url_for('courses.index') }}">
                    <li class="tab right-tab">
                        <div class="row tab-wrap">
                            <img src="{{ url_for('static', filename='img/courses/lessons/icons/list.svg') }}" alt=""> Выбор предметов
                        </div>
                    </li>
                </a>
            </ul>
            <div class="subjects">
                {% block courses %}
                    {% for course in courses %}
                        <div class="subj">
                            <img src="{{ url_for('static', filename='img/courses/lessons/icons/math.svg') }}" alt="" class="subj-icon">
                            <div class="subj-text column">
                                <a class="course_link" href="{{ url_for('courses.index', id=course.id) }}">
                                    <div class="subj-title">{{ course.name }}</div>
                                </a>
                                <div class="subj-descryption">{{ course.description }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}